{% block body %}

    <div class="row">
        <div class="col">
            <ul>
                <li><a href="{{ path('homepage') }}">Accueil</a></li>
                {#<li><a href="{{ path('user_list') }}">Joueurs de votre ville</a></li>#}
                <li><a href="{{ path('store_list') }}">Magasin</a></li>
                <li><a href="{{ path('ranking') }}">Classement</a></li>
                <li><a href="{{ path('cities') }}">Les villes</a></li>
                <li><a href="{{ path('bank_index') }}">Banque</a></li>
            </ul>
        </div>
        <div class="col">
            {% if is_granted('ROLE_ADMIN') %}
                <h4>Administration</h4>
                <ul>
                    <li><a href="{{ path('app_admin_index') }}">admin</a></li>
                    <li><a href="{{ path('admin_user_index') }}">admin users</a></li>
                    <li><a href="{{ path('admin_weapon_index') }}">admin weapon</a></li>
                    <li><a href="{{ path('admin_city_index') }}">admin city</a></li>
                    <li><a href="{{ path('app_admin_graphs') }}">admin graph</a></li>
                </ul>
            {% endif %}
        </div>
        <div class="col">
            {% if app.user %}
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="{{ path('myProfile') }}" class="btn btn-secondary btn-block">
                            {{ app.user.username }}
                        </a>
                    </li>
                    <li class="list-group-item">
                        <div class="row">

                            <div class="col text-center">Ville : <a href="{{ path('user_list') }}">{{ app.user.city.name }}</a></div>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                Argent : {{ app.user.money }}$
                            </div>
                            <div class="col text-center">Niveau : {{ app.user.competences.level }}</div>
                        </div>
                        <div class="row">
                            <div class="col text-center">PA : {{ app.user.action }}</div>
                            <div class="col text-center">Vie : {{ app.user.competences.life }}/100</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <a href="{{ path('fos_user_security_logout') }}" class="btn btn-secondary btn-block">Deconnexion</a>
                    </li>

                </ul>



            {% else %}
                <p>
                    <a href="{{ path('fos_user_security_login') }}" class="btn btn-secondary btn-block">
                        Connexion
                    </a>
                </p>

            {% endif %}
        </div>
    </div>


{% endblock %}