<!doctype html>
<html lang="fr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/theme.css') }}">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Interdev</h1>
        <p class="lead">Le jeu qui ne tue pas en vrai.</p>
    </div>
</div>
{% include ':include:messages.html.twig' %}
<div class="container">
    <div class="row">
        <div class="col">
            {% include 'include/navigation.html.twig' %}
        </div>
    </div>
</div>
{% block body %}{% endblock %}

{{ render(controller('AppBundle:Render:getLogs')) }}
<script src="{{ asset('node_modules/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ asset('node_modules/popper.js/dist/umd/popper.min.js') }}"></script>
<script src="{{ asset('node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>