{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>GameLand</h1>
                <hr>
                <div class="row">
                    <div class="col">
                        <h3>Le 1 sur 10 !</h3>
                        <p class="lead">
                            Tente de gagner 10 fois ta mise !
                            <br>
                            Cout : 1PA
                        </p>
                        <div class="list-group">
                            <a href="{{ path('game_one_ten',{amount:1}) }}"
                               class="list-group-item list-group-item-action text-center">Miser 1$</a>
                            <a href="{{ path('game_one_ten',{amount:5}) }}"
                               class="list-group-item list-group-item-action text-center">Miser 5$</a>
                            <a href="{{ path('game_one_ten',{amount:10}) }}"
                               class="list-group-item list-group-item-action text-center">Miser 10$</a>
                            <a href="{{ path('game_one_ten',{amount:100}) }}"
                               class="list-group-item list-group-item-action text-center">Miser 100$</a>
                            <a href="{{ path('game_one_ten',{amount:500}) }}"
                               class="list-group-item list-group-item-action text-center">Miser 500$</a>
                        </div>
                    </div>
                    <div class="col">
                        <div id="chartOneTen" style="height: 370px; width: 100%;"></div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <h3>Paire de dés</h3>
                        <p class="lead">
                            Tente de gagner jusqu'a 15 fois ta mise !
                            <br>
                            Cout : 8PA
                        </p>
                        <div class="list-group">
                            <a href="{{ path('dice',{amount:1}) }}"
                               class="list-group-item list-group-item-action text-center">Miser 1$</a>
                            <a href="{{ path('dice',{amount:5}) }}"
                               class="list-group-item list-group-item-action text-center">Miser 5$</a>
                            <a href="{{ path('dice',{amount:10}) }}"
                               class="list-group-item list-group-item-action text-center">Miser 10$</a>
                            <a href="{{ path('dice',{amount:100}) }}"
                               class="list-group-item list-group-item-action text-center">Miser 100$</a>
                            <a href="{{ path('dice',{amount:500}) }}"
                               class="list-group-item list-group-item-action text-center">Miser 500$</a>
                        </div>
                    </div>
                    <div class="col">
                        <div id="chartDices" style="height: 370px; width: 100%;"></div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.canvasjs.min.js') }}"></script>
    <script src="{{ asset('js/game-index.js') }}"></script>
{% endblock %}
