{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{ users|length }} utilisateurs dans {{ city.name }}</h1>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <div class="list-group">
                            {% for user in users %}

                                <a href="{{ path('user',{id:user.id,username:user.username}) }}"
                                   class="list-group-item list-group-item-action {% if user == app.user %}active{% endif %}">
                                    {{ user.username }} [LVL {{ user.competences.level }}]
                                    {% if user.alive %}
                                        en vie depuis {{ duration(user.dateOfBirth) }} jours
                                    {% else %}
                                        <span class="badge badge-pill badge-danger">mort.</span>
                                    {% endif %}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
{% endblock %}