{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Utilisateur</h1>
                <hr>
                <h3>{{ user.username }}</h3>
                <div class="row">
                    <div class="col">
                        <h4>Infos</h4>
                        <ul>
                            <li>Niveau : {{ user.competences.level }}</li>
                        </ul>
                    </div>
                    <div class="col">
                        <h4>Actions</h4>
                        {% if app.user.city == user.city %}
                            <ul>
                                <li>
                                    <form action="{{ path('action_steal',{id:user.id}) }}" method="post">
                                        <input type="hidden" name="_csrf_token"
                                               value="{{ csrf_token('action_steal') }}">
                                        <button class="btn btn-danger">Essayer de voler {{ user.username }}</button>
                                    </form>
                                </li>
                                <li>
                                    {#todo: l'user est il dans la meme ville#}
                                    <form action="{{ path('action_attack',{id:user.id}) }}" method="post">
                                        <input type="hidden" name="_csrf_token"
                                               value="{{ csrf_token('action_attack') }}">
                                        <button class="btn btn-danger">Attaquer {{ user.username }}</button>
                                    </form>
                                </li>
                            </ul>
                        {% else %}
                            <p class="lead">
                                Aucune action possible, vous n'etes pas dans la meme ville que {{ user.username }}...
                            </p>
                        {% endif %}
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}



{% block stylesheets %}
{% endblock %}
