{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Banque</h1>
                <hr>
                <div id="chartContainer" style="height: 370px; width: 100%;"></div>
                <hr>
                <div class="row">
                    <div class="col-3">
                        <h3>Actions</h3>
                        <hr>
                        <p>
                            <a href="{{ path('bank_request') }}" class="btn btn-primary btn-block">
                                Demander un pret
                            </a>
                        </p>
                        <p>
                            <a href="{{ path('bank_saving') }}" class="btn btn-primary btn-block">
                                Placer de l'argent
                            </a>
                        </p>
                    </div>
                    <div class="col">
                        <h3>Situation en cours</h3>
                        <hr>
                        <ul class="list-group">
                            <li class="list-group-item">
                                {% if activeLoans|length %}
                                    Liste des prets
                                    <ul class="list-group list-group-flush">
                                        {% for loan in activeLoans %}
                                            <li class="list-group-item">
                                                {% if loan.status == 'request' %}
                                                    {{ loan.amount }}$
                                                    en attente de validation du banquier.
                                                    <br>
                                                    <form action="{{ path('bank_loan_cancel', {'id': loan.id}) }}"
                                                          method="post">
                                                        <input type="hidden" name="_csrf_token"
                                                               value="{{ csrf_token('cancel_loan') }}">
                                                        <input type="submit" value="Annuler" class="btn btn-sm btn-danger">
                                                    </form>
                                                {% elseif loan.status == 'validated' %}
                                                    {{ loan.restToPay }}$
                                                    a rembourser avant le
                                                    {{ loan.expiration|date('d/m/Y \\à H:i') }}
                                                    <br>
                                                    <a href="{{ path('bank_loan_refund',{id:loan.id}) }}"
                                                       class="btn btn-sm btn-primary">Rembourser</a>
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>

                                {% else %}
                                    <p>Pas de comptes a rendre , pour l'instant.</p>
                                {% endif %}
                            </li>
                            <li class="list-group-item">
                                {% if bankSaving is not null %}
                                    Vous avez {{ bankSaving }}$ de placé
                                    {% else %}
                                    Vous n'avez encore rien placé
                                {% endif %}
                            </li>
                        </ul>

                    </div>
                    <div class="col">
                        <h3>Historique</h3>
                        <hr>
                        <table class="table table-sm">

                            <tbody>
                            {% for loan in inactiveLoans %}
                                <tr class="">
                                    <td>{{ loan.date|date('d/m') }}</td>
                                    {% if loan.status == 'refused' %}
                                        <td>Demande de {{ loan.amount }}$</td>
                                        <td class="table-danger text-center">Refusée par le banquier</td>
                                    {% elseif loan.status == 'closed' %}
                                        <td>Emprunt de {{ loan.amount }}$</td>
                                        <td class="text-center">Remboursé</td>
                                    {% elseif loan.status == 'canceled' %}
                                        <td>Emprunt de {{ loan.amount }}$</td>
                                        <td class="text-center">Annulé</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.canvasjs.min.js') }}"></script>
    <script src="{{ asset('js/bank-index.js') }}"></script>
{% endblock %}