{% extends admin_layout %}

    {% block body %}
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="page-header">
                        <h1>Liste des {{ users|length }} joueurs</h1>
                    </div>
                    <p>
                        <br/>
                        <a href="{{ path('admin_user_new') }}" class="btn btn-success">
                            Ajouter
                        </a>
                    </p>
                    <table class="table table-striped table-sm">
                        <thead class="thead-dark">
                        <tr>
                            <th>Nom</th>
                            <th>Email</th>
                            <th>Lvl</th>
                            <th>Vie</th>
                            <th>En vie</th>
                            <th>Argent</th>
                            <th>Items</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr class="{% if not user.enabled %}table-danger{% endif %}">
                                <td>
                                    {{ user.username }}
                                </td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.competences.level }}</td>
                                <td>{{ user.competences.life }}</td>
                                <td>
                                    {% if user.alive %}
                                        <span class="badge badge-success">Oui</span>
                                    {% else %}
                                        <span class="badge badge-danger">Non</span>
                                    {% endif %}
                                </td>
                                <td>{{ user.money }}$</td>
                                <td>
                                    {{ user.items.count }}
                                </td>
                                <td>
                                    <a href="{{ path('admin_user_show', { 'id': user.id }) }}"
                                       class="btn btn-sm btn-primary ">
                                        Voir
                                    </a>
                                    <a href="{{ path('admin_user_edit', { 'id': user.id }) }}"
                                       class="btn btn-sm btn-primary ">
                                        Modifier
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endblock %}
