{% extends admin_layout %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h1>Ajouter un joueur</h1>
            </div>

            {{ form_start(form) }}
            <div class="row">
                <div class="col">
                    {{ form_row(form.username) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.password) }}
                    {{ form_row(form.alive) }}
                    {{ form_row(form.enabled) }}
                </div>
                <div class="col">
                    {{ form_row(form.money) }}
                    <div class="row">
                        <div class="col">{{ form_row(form.competences.level) }}</div>
                        <div class="col">{{ form_row(form.competences.life) }}</div>
                    </div>
                    {{ form_row(form.action) }}
                </div>
                <div class="col">
                    {{ form_row(form.competences.attack) }}
                    {{ form_row(form.competences.defense) }}
                    {{ form_row(form.competences.skill) }}
                </div>
            </div>
            {{ form_widget(form) }}
            <p>
                <input type="submit" value="Ajouter" class="btn btn-success btn-lg"/>
            </p>
            {{ form_end(form) }}

                        <p>
    <a href="{{ path('admin_user_index') }}" class="btn btn-primary">
        Retour à la liste
    </a></p></div>
    </div>
</div>
{% endblock %}
