{% extends admin_layout %}

    {% block body %}
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-header">
                        <h1>Voir User</h1>
                    </div>
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ user.id }}</td>
                        </tr>
                        <tr>
                            <th>Alive</th>
                            <td>{% if user.alive %}<span class="label label-success">Oui</span>{% else %}<span
                                        class="label label-danger">Non</span>{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Money</th>
                            <td>{{ user.money }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <p>
                        <a href="{{ path('admin_user_index') }}" class="btn btn-default">
                            Retour à la liste
                        </a> <a href="{{ path('admin_user_edit', { 'id': user.id }) }}"
                                class="btn btn-success">
                            Modifier
                        </a></p>
                    <div class="delete_form_wrapper">
                        {{ form_start(delete_form) }}
                        <input type="submit" value="Supprimer" class="btn btn-danger">
                        {{ form_end(delete_form) }}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
