{% extends main_layout %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Magasin</h1>
                <hr>
                <div class="row">
                    <div class="col">
                        <h3>Achat</h3>
                        <p>Ces objets sont a acheter :</p>
                        <ul>
                            {% for weapon in weapons %}
                                <li>
                                    <a href="{{ path('store_weapon',{id:weapon.id}) }}">{{ weapon.name }}</a>
                                    <span class="badge badge-secondary">{{ weapon.price }}$</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col">
                        <h3>Vente</h3>
                        {% if app.user %}
                            <p>Vous pouvez vendre vos objets :</p>
                            <ul>
                                {% for item in user_items %}
                                    <li>
                                        {{ item.weapon.name }}
                                        <form action="{{ path('store_weapon_sell',{id:item.id}) }}" method="post">
                                            <input type="hidden" name="_csrf_token"
                                                   value="{{ csrf_token('item_sell') }}">
                                            <button class="btn btn-primary">
                                                Vendre
                                                <span class="badge badge-light">
                                                {{ item.price }}$
                                            </span>
                                            </button>
                                        </form>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            non connecté
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
{% endblock %}